{% extends 'Login/base.html' %}
{% load static %}

  {% block content %}
<main class="dictionary__main wrapper">
  <h1 class="dictionary__heading"> Dictionary </h1>
  <form class="dictionary__search">
    <input id="word" type="text" name="search" class="dictionary__search__box" placeholder="Input Your Word Here">
    <button type="submit" class="dictionary__search-btn">
      <img src="{% static 'Login/image/icon-search.svg' %}" alt="search">
    </button>
  </form>

  <div id="output" class="dictionary__output">

  </div>
</main>
<!-- at the time of hosting we have to change the url of fetch -->
<script type="text/javascript">

  const form = document.querySelector('form')
  const word = document.querySelector('#word')
  const output = document.querySelector('#output')

  function render(data) {
    output.classList.add("dictionary__output--result")
    output.innerHTML = ""
    const {meaning} = data
    //console.log(meaning)
    const keys = Object.keys(meaning)
    //console.log(Object.keys(meaning))
    keys.forEach((key) => {
      output.innerHTML += `<h2 class="dictionary__output--heading">
          <span>${word.value}</span>
          ~ ${key}
        </h2>`
      meaning[key].forEach((defination) => {
        output.innerHTML += `<p>${defination}</p>`
      });
    });
  }


  form.addEventListener("submit",async (e)=>{
    e.preventDefault()
    const response = await fetch(`http://127.0.0.1:8000/dictionary/dictionary/?search=${word.value}`)
    const data = await response.json()
    render(data)
  })

</script>
{% endblock %}
