{% extends 'Login/base.html' %}
{% load static %}

  {% block content %}
<main class="dictionary__main">
     <form class="dictionary__search">

      <input id="word" type="text" name="search" class="dictionary__search__box" placeholder="Input Your Word Here">
      <button type="submit" class="dictionary__search__button">
        <img src="{% static 'Login/image/icon-search.svg' %}" alt="search">
     </button>
    </form>
   <div id="output" class="dictionary__output">

   </div>
</main>
<!-- at the time of hosting we have to change the url of fetch -->
<script type="text/javascript">

  const form = document.querySelector('form')
  const word = document.querySelector('#word')
  const output = document.querySelector('#output')

  function render(data) {
    output.innerHTML = ""
    console.log(data.meaning.hasOwnProperty("Noun"));
    if(data.meaning.hasOwnProperty("Noun")){
      output.innerHTML += `<p> ${data.meaning["Noun"]} </p>`
    }
    if(data.meaning.hasOwnProperty("Verb")){
      out
      put.innerHTML += `<p> ${data.meaning["Verb"]} </p>`
    }
  }

  form.addEventListener("submit",async (e)=>{
    e.preventDefault()
    console.log(word.value);
    const response = await fetch(`http://127.0.0.1:8000/dictionary/dictionary/?search=${word.value}`)
    const data = await response.json()
    render(data)
  })
</script>
{% endblock %}
