*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1,h2{
  font-family: 'Open Sans', sans-serif;
}

img{
  max-width: 100%;
}

a{
 color: inherit;
 display: inline-block;
 text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

ul{
  list-style: none;
  display: flex;
  padding-left: 0;
}

li + li{
  padding-left: 1rem;
}

button, select{
  cursor: pointer;
}

.wrapper{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
