.standard-list, .lesson-list, .subject-list{
  text-align: center;
  width: 80%;
  margin: 2rem auto;
  &__container{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }

  &__block{
    max-width: 300px;
    background-color: hsla(0, 0%, 10%, 0.08);
    background: linear-gradient(135deg, hsla(240,60%,55%,1) 0px,
      hsla(240,60%,55%,1) 20px, hsla(0, 0%, 10%, 0.08) 20px,);
    margin: 0 2rem 2rem 0;
    padding: 1rem;
    border-radius: 0 .5rem .5rem;
    box-shadow: 4px 2px 8px hsla(0, 0%, 10%, .3);
    transition: 0.3s linear all;

    &:hover{
      transform: scale(1.05);
    }
    &:active{
      transform: scale(0.95);
    }

    & a{
      text-decoration: none;
    }

    & h2{
      color: hsl(240,60%,55%);
    }

    & p{
      line-height: 1.5;
      color: hsl(240,40%,8%);
    }


  }
}

.lesson-list{
  &__container{
    justify-content: space-around;
  }
}
