{% extends 'Login/base.html' %}
{% load static %}

{% block content %}
  <main class="lesson-list">
    <h1>Lesson list</h1>

    <div class="lesson-list__container">

      {% for lesson in subjects.lessons.all %}
        <div class="lesson-list__block">
          <a href ="{% url 'curriculum:lesson_detail' slug=lesson.slug subject=subjects.slug standard=lesson.Standard.slug %}">
          <h2>
              {{lesson.name}}
          </h2>
          <p>{{lesson.description}}</p>
        </a>
        </div>
      {% endfor %}

    </div>
  </main>

{% endblock%}
