{% extends 'Login/base.html' %}

  {% block content %}

  <!--CTA-->
  <main class="wrapper">

    <h1>Translate</h1>
    <div class="translation__box">
      <form id="form" class="translation__input">
          {% csrf_token %}
          <textarea id="text" class="translation__input--text" name="translate"></textarea>
          <div class="translation__input--items">
            <select id="input-language" name="language" required>
              <option value="Hi">Hindi</option>
              <option value="Fr">French</option>
              <option value="de">German</option>
              <option value="es">Spanish</option>
            </select>
            <button type="submit">Translate</button>
          </div>
      </form>

      <div class="translation__output">
        <p  id="output"></p>
        <button name="speak" id="speak">click</button>
      </div>
    </div>
  <!-- XXX: http://127.0.0.1:8000/translate/translate/?translate=hello&language=hindi -->
  </main>
  <script type="text/javascript">
    const form = document.querySelector("#form")
    const text = document.querySelector("#text")
    const inputLanguage = document.querySelector("#input-language")
    const output = document.querySelector("#output")
    const speaker = document.querySelector("#speak")

    let speech = new SpeechSynthesisUtterance();


    console.log(speaker);
    speaker.addEventListener("click", ()=>{
      speech.lang = inputLanguage.value
      console.log("hello");
      speech.text = output.textContent;
      window.speechSynthesis.speak(speech)
    })

    function render(data){
      output.innerHTML = ""
      output.innerHTML += `<p>${data}</p>`
    }

    form.addEventListener("submit",async (e)=>{
      console.log(text.value);
      e.preventDefault()
      const response = await fetch(`http://127.0.0.1:8000/translate/translate/?translate=${text.value}&language=${inputLanguage.value}`)
      const data = await response.json()
      render(data.translation)
    })
  </script>
  {% endblock %}
