{% extends 'Login/base.html' %}

  {% block content %}

  <!--CTA-->
  <main class="wrapper">

    <h1>Translate</h1>
    <body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="translate" required>
        <br>
        <select required name="language">
            <option value="Hindi">Hindi</option>
            <option value="French">French</option>
            <option value="German">German</option>
            <option value="Spanish">Spanish</option>
        </select>
        <br>
        <button type="submit">Translate</button>
    </form>
  </body>

  </main>
  {% endblock %}
