*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1,h2{
  font-family: 'Oswald', sans-serif;
}

a{
 text-decoration: none;
 color: inherit;
}

ul{
  list-style: none;
  display: flex;
  padding-left: 0;
}

li + li{
  padding-left: 1rem;
}
