{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language and word Learning App </title>

    <!-- Google Font link  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- CSS  -->
    <link rel="stylesheet" href="{% static 'Login/css/master.css' %}">
  </head>
 <body>
    <header>
      <div class="logo">
        <a href="{% url 'Login:homepage' %}"><img src="{% static 'Login/image/logo.svg' %}" alt="word and language learning application"></a>
      </div>
      <nav>
        <ul class="nav__list">
          <li class="nav__link"><a href="{% url 'Dictionary:index' %}">Dictionary</a></li>
          <li class="nav__link"><a href="{% url 'Translate:translate' %}">Translation</a></li>
          <li class="nav__link"><a href="#">Learn a Language</a></li>
          <li class="nav__link"><a href="{% url 'Login:register' %}">Login</a></li>
          <li class="nav__link"><a href="{% url 'Login:login' %}">Sign-up</a></li>
        </ul>
      </nav>
    </header>
    {% block content %}

    {% endblock %}

  </body>
</html>
