<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
  </head>
 <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Dictionary</a></li>
          <li><a href="#">Translation</a></li>
          <li><a href="#">Learn a Language</a></li>
          <li><a href="#">Login/Sign-up</a></li>
        </ul>
      </nav>
    </header>
    {% block content %}

    {% endblock %}
  <footer>
    <li>copyright 2021</li>
    <li>terms</li>
    <li>privacy policy</li>
    <li>cookies policy</li>
  </footer>
  </body>
</html>
