{% extends 'Login/base.html' %}

  {% block content %}

  <!--CTA-->
  <main>

    <section>
      <h1>Making Easier Learning languages</h1>
      <p>Expand your vocabulary with
      finding meaning of words
      translating sentences into different
      languages.</p>
      <a href="#">Explore More</a>
    </section>

    <section>
      <p>Build your vocabulary with
      Searching meaning of different
      words </p>
      <a href="#">Search A Word</a>
    </section>

    <section>
      <p>Translate word, sentences and pharses
      between Engkish and over languages</p>
      <a href="#">Something in mind to translate -></a>
    </section>

    <section>
      <h1>Learn A new Language</h1>
      <a href="#">Start tody</a>
    </section>
  </main>
  {% endblock %}
