{% extends 'Login/base.html' %}

  {% block content %}

  <!--CTA-->
  <main class="home">

    <section class="home__hero">
      <div>
        <h1>Making Easier Learning languages</h1>
        <p>
          Learn new Languages or
          Expand your vocabulary with
          finding meaning of words,
          translating sentences into different
          languages, .
        </p>
        <div class="home__hero__btns">
          <a class="home__btn" href="{% url 'Login:login' %}">Login</a>
          <a class="home__btn" href="{% url 'Login:register' %}">Sign-up</a>
        </div>
      </div>
    </section>

    <section class="home__word">
      <div class="home__word__content">
        <p>Build your vocabulary with
        Searching meaning of different
        words </p>
        <a class="home__btn" href="{% url 'Dictionary:index' %}">Search A Word</a>
      </div>
      <div>
        <img src="" alt="">
      </div>
    </section>

    <section class="home__translate">
      <div class="home__translate__content">
        <p>Translate word, sentences and pharses
        between Engkish and over languages</p>
        <a class="home__btn" href="{% url 'Translate:index' %}">Something in mind to translate -></a>
      </div>
      <div>
        <img src="" alt="">
      </div>
    </section>

    <section class="home__learn">
      <h1>Learn A new Language</h1>
      <a class="home__btn" href="{% url 'curriculum:standard_list' %}">Start tody</a>
    </section>
  </main>
  {% endblock %}
